{% load static %}
{% load news_tags %}

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
        
        {% endblock title %}

        <link rel="shortcut icon" href="{% static 'news/images/icon.png' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">
    </head>

    <body>
        {% block header %}
        <header class="p-3 bg-dark text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>
        
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                
                {% get_menu active=active as menu %}

                {% for m in menu %}
                    {% if m.status == 'active' %}
                     {% if m.params %}
                      <li><a href="{% url m.name_path m.params.page%}" class="nav-link px-2 text-secondary">{{ m.name_link }}</a></li>
                     {% else %}
                        <li><a href="{% url m.name_path%}" class="nav-link px-2 text-secondary">{{ m.name_link }}</a></li>
                     {% endif %}
                    {% else %}
                      {% if m.params %}
                        <li><a href="{% url m.name_path m.params.page %}" class="nav-link px-2 text-white">{{ m.name_link }}</a></li>
                      {% else %}
                        <li><a href="{% url m.name_path%}" class="nav-link px-2 text-white">{{ m.name_link }}</a></li>
                      {% endif %}                   
                      {% endif %}
                {% endfor %}
                    <li class="parent-dropdown">
                      <a class="nav-link px-2 text-white">Категории</a>
                        <div class="dropdown-menu-block">
                          {% show_cats sort='name' cat_name=cat_name %}
                        </div>
                    </li>
                </ul>
        
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
                </form>
        
                <div class="text-end">
                  <button type="button" class="btn btn-outline-light me-2">Авторизация</button>
                  <button type="button" class="btn btn-warning">Регистрация</button>
                </div>
              </div>
            </div>
          </header>
        {% endblock header %}

        {% block content %}

        {% endblock %}


        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>