{% extends 'news/base.html' %}

{% load static %}
{% block title %}
<title>
    Главная страница
</title>
{% endblock title %}


{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{% static 'news/images/logo.png' %}" class="d-block mx-lg-auto img-fluid" alt="Логотип.jpg" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 title-index">Мы заботимся о качестве наших новостей!</h1>
        <p class="lead">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Правилами, заманивший его. Рыбного переписали, правилами переулка реторический что рекламных пор свою, предупреждал проектах которое он предупредила подпоясал вопроса! Собрал!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">     
            <a href="{% url 'all_news' %}" class="btn btn-primary btn-get-news btn-lg px-4 me-md-2">
                Новости
            </a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}