{% extends 'news/base.html' %}

{% block title %}
<title>
    Новость | {{ new.title }}
</title>
{% endblock title %}


{% block content %}

<div class="content_new">
    <h2 class="title_new">{{ new.title }}</h2>

    {% if new.photo %}
        <div class="image_content_here" style="background: url('{{ new.photo.url }}');">
            <div class="blur_bg"></div>
            <img src="{{ new.photo.url }}">
        </div>
    {% endif %}

    <div class="text_content_here">
        {% autoescape off %}
            {{ new.content | linebreaks }}
        {% endautoescape %}
    </div>
</div>

{% endblock %}